body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #2c3e50;
  color: white;
  padding: 15px;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 50px;
  background: #3498db;
  color: white;
}

.gallery img {
  margin: 10px;
  border-radius: 10px;
}

#bike-list {
  padding: 20px;
}
